{% extends 'base.html' %}

{% block restrito %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('cadastrar_pedido') }}">Cadastrar Pedido</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('listar_pedidos') }}">Listar Pedidos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
</li>
{% endblock %}

{% block main %}
<div class="container">
    <br>
    <div class="d-flex justifu-content-center">
        <h1>Cadastrar Pedido</h1>
    </div>
    <hr>
    <form action="{{url_for('cadastrar_pedido')}}" class="form-control" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Data do Pedido: </label>
            <input type="text" class="form-control" name="data_pedido" placeholder="dia/mês/ano" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome: </label>
            <input type="text" class="form-control" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Endereço: </label>
            <input type="text" class="form-control" name="endereco">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Telefone: </label>
            <input type="text" class="form-control" name="telefone" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Serviço: </label>
            <input type="text" class="form-control" name="servico">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Valor: </label>
            <input type="text" class="form-control" name="valor">
        </div>
        <input type="submit" class="btn btn-primary" name="cadastrar" value="Cadastrar Pedido">
    </form>
</div>
<br>
{% if status %}
{% if status['type'] == 'sucesso' %}
<div class="alert alert-success" role="alert">
    {{status['message']}}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    {{status['message']}}
</div>
{% endif %}
{% endif %}
{% endblock %}