{% extends 'base.html' %}

{% block main %}
<br>
<h1>Pedidos por período</h1>
<hr>
<br><br>
<div id="">
    <h2>Período de Busca</h2>
    <br>
    <form action="{{ url_for('search_p') }}" method="post">
        <div id="search-form">
            <label for="start_date">Data inicial: </label>
            <input type="date" id="start_date" name="start_date" required><br><br>
            <label for="end_date">Data final: </label>
            <input type="date" id="end_date" name="end_date" required><br><br>
        </div>
        <input type="submit" class="btn btn-primary" name="procurar" value="Pesquisar">
    </form>
</div>
{% endblock %}